<style> .col-sm-6 { display: table; margin-left: auto; margin-right: auto; } </style>
<div class="col-sm-6">
    <img src="images/booking/pension1.PNG" alt="">
  </div>
  <div class="col-sm-6z">
    <h3>예약조회/취소</h3>
    <p>이름, 아이디, 전화번호를 입력해주세요!</p>
    <form class="booking2-form" action="/index" method="post">
      <input type="text" style="width:300px" name="name" placeholder="Name">
      <input type="text" style="width:300px" name="id" placeholder="Id">
      <input type="text" style="width:300px" name="phonenumber" placeholder="phonenumber">
      <a href="/good.ejs"><button>조회</button></a> <a href="/cancel.ejs"><button>취소</button></a>
    </form>
  </div>
  