<footer id="footer">
    <div class="container">
        <div class="row gtr-200">
        </div>

        <!-- Copyright -->
            <div id="copyright">
                <ul class="menu">
                    <li>&copy; CHK & HSH & KDY. All rights reserved</li><li>Design: HTML5 UP</li>
                </ul>
            </div>

    </div>
</footer>