<footer id="footer">
    <div class="container">
        <div style="color: gray;">
            <ul>주소: 제주특별자치도 제주시 한림읍 금능리 1803-2</ul>
            <ul>연락처: 064-799-2020</ul>
        </div>
        

        <!-- Copyright -->
            <div id="copyright">
                <ul class="menu">
                    <li>&copy; CHK & HSH & KDY. All rights reserved</li><li>Design: HTML5 UP</li>
                </ul>
            </div>

    </div>
</footer>