<!DOCTYPE HTML>
<!--
	TXT by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>한림 담스파빌</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" type="text/css" />
		<link rel="stylesheet" href="/css/bootstrap.min.css">
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<div class="logo container">
						<div>
							<h1><a href="/" id="logo">지평집 펜션 </a></h1><br>
						</div>
						<br>
						<div id="header_img_div" style="display:none">
							<img style='width:100%' src='/images/main01.jpg'>
						</div>
					</div>
				</header>

			<!-- Nav -->
				<nav id="nav">
					<ul>
						<li class="current"><a href="/room">공간소개</a></li>
						<li><a href="/booking">예약</a></li>
						<li><a href="/board/page">공지사항</a></li>
						<li><a href="left-sidebar.html">예약조회/취소</a></li>
						<li><a href="#"></a></li>
						
						
						<% if(!loggedIn) { %>
						<li><a href="/login">로그인</a></li>
						<li><a href="/login/join">회원가입</a></li>	
						<% } else {%>
						<li><a href="/login/myinfo">내정보</a></li>
						<li><a href="/login/logout">로그아웃</a></li>
						<%}%>
						
						<!--
						<li>
							<a href="#">Dropdown</a>
							<ul>
								<li><a href="#">Lorem ipsum dolor</a></li>
								<li><a href="#">Magna phasellus</a></li>
								<li>
									<a href="#">Phasellus consequat</a>
									<ul>
										<li><a href="#">Lorem ipsum dolor</a></li>
										<li><a href="#">Phasellus consequat</a></li>
										<li><a href="#">Magna phasellus</a></li>
										<li><a href="#">Etiam dolore nisl</a></li>
									</ul>
								</li>
								<li><a href="#">Veroeros feugiat</a></li>
							</ul>
						</li>
						-->
					</ul>
				</nav>

		</div>

		<!-- Scripts -->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/jquery.dropotron.min.js"></script>
		<script src="/js/jquery.scrolly.min.js"></script>
		<script src="/js/browser.min.js"></script>
		<script src="/js/breakpoints.min.js"></script>
		<script src="/js/util.js"></script>
		<script src="/js/main.js"></script>

		<div class="container">
			<%- body %>
		</div>

		<% include ./footer %>
	</body>
</html>