
                        
<form class="login-form" modelAttribute="user" method="post" action="join" >
    
    <div>

        <h3 class="join_title">

            <label for="id">아이디</label>
            

        </h3>

        <input type="text" class="form-control" path="id"
            id="id" name="userId" />
            <button type="submit" formaction="/login/idcheck">아이디중복체크</button>
            
        


    </div>
    <div>

        <h3 class="join_title">

            <label for="pswd1">비밀번호</label>

        </h3>

        <input type="password" path="pass" id='pass' name="userPw"
            class="form-control" maxlength="30" size='10' />
        



    </div>
    <div>

        <h3 class="join_title">

            <label for="pswd1">비밀번호 확인</label>

        </h3>

        <input type="password" path="pass" id='pass' name="userPwRe"
            class="form-control" maxlength="30" size='10' />
        
    </div>
    
    <div>

        <h3 class="join_title">

            <label for="pswd1">이름</label>

        </h3>

        <input type="text" path="username" id='pass' name="username"
            class="form-control" maxlength="30" size='10' />
        

    </div>

    <div>

        <h3 class="join_title">

            <label for="pswd1">Phone</label>

        </h3>

        <input type="text" path="Phone" id='pass' name="phone"
            class="form-control" maxlength="30" size='10' />
        

    </div>
    <div>

        <h3 class="join_title">

            <label for="pswd1">E-Mail</label>

        </h3>

        <input type="text" path="email" id='email' name="email"
            class="form-control" maxlength="30" size='10' />
        

    </div>





    
    <div class="btn_area">
   
        <button type="submit" id="btnJoin">

            <span>회원가입</span>

        </button>

    </div>

</form>