<form class="login-form" modelAttribute="user" method="post" action="passwordchange" >
    
    <div>

        <h3 class="join_title">

            <label for="id">아이디</label>

        </h3>

        <input type="text" class="form-control" path="id"
            id="id" name="userId" />
            
        


    </div>
    <div>

        <h3 class="join_title">

            <label for="pswd1">비밀번호</label>

        </h3>

        <input type="password" path="pass" id='pass' name="userPw"
            class="form-control" maxlength="30" size='10' />
        



    </div>

    <div>

        <h3 class="join_title">

            <label for="pswd1">변경할 비밀번호</label>

        </h3>

        <input type="password" path="pass" id='pass' name="userPwNew"
            class="form-control" maxlength="30" size='10' />
        



    </div>
    <br>
    
    <div class="row justify-content-center">
        
        <input type="submit" value="비밀번호변경" class="btn btn-outline-secondary" />
    </div>

</form>
