<style> .col-sm-6 { display: table; margin-left: auto; margin-right: auto; } </style>

<div class="col-sm-6">
  <img src="images/booking/pension1.PNG" alt="">
</div>
<div class="col-sm-6">
  <h3>예약</h3>
  <p>날짜를 선택해주세요!</p>
  <%
    var date = new Date();
    var year = date.getFullYear().toString();
    var month = date.getMonth() + 1;
    month = month < 10 ? '0' + month.toString() : month.toString();
    var day = date.getDate();
    day = day < 10 ? '0' + day.toString() : day.toString();
    
    date = year + '-'+ month + '-'+ day;
  %>
  <form class="booking-form" action="/booking/date" method="post" style="text-align: center">
    <label>날짜: <input type="date" name='in_date' min="<%= `${date}` %>" required> ~ <input type="date" name='out_date' min="<%= `${date}` %>" required></label>
    <!--
    <input type="text" style="width:300px" name="inwon" placeholder="인원">
    <input type="text" style="width:300px" name="barbecue" placeholder="바베큐 사용여부 o/x">
    -->
    <button style="font-size:1em">확인</button>    
  </form>
</div>
