<style> .col-sm-6 { display: table; margin-left: auto; margin-right: auto; } </style>

<div class="col-sm-6">
  <img src="images/booking/pension1.PNG" alt="">
</div>
<div class="col-sm-6z">
  <h3>예약</h3>
  <p>날짜를 선택해주세요!</p>
  <form class="booking-form" action="/index" method="post">
    <input type="text" style="width:300px" name="inwon" placeholder="인원">
    <input type="text" style="width:300px" name="barbecue" placeholder="바베큐 사용여부 o/x">
    <!-- <label><input type="radio" id="barbecue" value="use">사용</label>
    <label><input type="radio" name="barbecue2" value="unuse">미사용</label> -->
    <!-- <a href="/booking/h.html"><button>예약하기</button></a> -->
    <button type="button" class="btn btn-primary active" id="btn" 
	onclick="document.location.href='h.html'">예약하기</button>
    

    
  </form>
</div>
