<form action="/board/write" method="post" >
    <table class="table table-bordered">
        <tr>
            <th class="tcenter" >
                <label for="subject">제목</label>
            </th>
            <td>
                <input type="text" id="title" name="title" class="form-control"/>
            </td>
        </tr>
        <tr >
            <th class="tcenter">
                <label for="content">내용</label>
            </th>
            <td>
                <textarea id="content" name="content" rows="8" class="form-control w-100"></textarea>
            </td>
        </tr>
            

    </table>
    <br/>


   

    <div class="btn_area" style="position:absolute; left:45%" >
   
        <button type="submit" id="btnJoin" >

            <span>확인</span>

        </button>
        <button type="reset">

            <span>재작성</span>
        </button>

    </div>

</form>
